/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
    background-color: #F8F9F9
}

.ds4a-body {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 8rem 1rem;
    background-color: #F8F9F9;
}

.ds4a-title {
    position: fixed;
    top: 0;
    left: 2rem;
    font-weight: 900;
    z-index: 999;
    height: 120px;
    width: 100%;
    margin-left: 16rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    background-color: #F8F9F9;
}

.ds4a-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #2A3E51; 
}

#ds4a-checklist label
{
    color: white;
}
#ds4a-checklist
{
    padding: 0.5em 0em 2em 0em;
}

#city_dropdown
{
    padding: 0.2em 0em 2em 0em;
}

#year_dropdown
{
    padding: 0.2em 0em 2em 0em;
}

.year_label
{
    color: white;
    font-weight: 400;
}


#demo-dropdown
{
    display: inline-block;
    padding: 2em 0em 2em 2em;
    width:40%;
}

#demo-dropdown2
{
    display: inline-block;
    padding: 2em 0em 2em 2em;
    width:40%;
}

