dash==1.19.0
dash-bootstrap-components==0.11.1
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
h5py==2.9.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.3
numpy==1.16.2
pandas==1.1.5
pathlib==1.0.1
Pillow==8.0.1
plotly==4.14.3
geopandas
